.post-body blockquote p {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.post-body pre {
  overflow-x: auto;
}

menu, ol, ul {
  list-style: revert;
  margin-bottom: 1rem;
  padding-left: 1.5em;
  line-height: 2;
}
